{% extends 'layout/base.html' %} 

<!-- end row -->
{% block breadcrumbs %}
    {{ block.super }}
    <h1 class="main-title float-left">Dashboard</h1>
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a href="{% url 'backend:home' %}">Home</a></li>
		<li class="breadcrumb-item active">Dashboard</li>
	</ol>
	<div class="clearfix"></div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
			<div class="card-box noradius noborder bg-info">
				<i class="fa fa-user-o float-right text-white"></i>
				<h6 class="text-white text-uppercase m-b-20">Users</h6>
				<h1 class="m-b-20 text-white counter">0</h1>
				<span class="text-white">0 New Users</span>
			</div>
		</div>
	
		<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
			<div class="card-box noradius noborder bg-danger">
				<i class="fa fa-bell-o float-right text-white"></i>
				<h6 class="text-white text-uppercase m-b-20">Alerts</h6>
				<h1 class="m-b-20 text-white counter">0</h1>
				<span class="text-white">0 New Alerts</span>
			</div>
		</div>
	</div>
<!-- end row -->
{% endblock %}